*{
    margin: 0;
    padding: 0;
    
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;

}

nav.sticky{
    position: fixed;
    top: 0;
    width: 10%;
    
    height: 100vh;
}
.font{
  font-weight: 900;
  display: flex;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.column {
  float: left;
  width: 60%;
 display: flex;
  gap: 10px;
  height:fit-content;
  margin-left: 20%;
  padding-bottom: 10px;

}

/* Remove extra left and right margins, due to padding in columns */
.rowfive {margin: 0 -5px;}

/* Clear floats after the columns */
.rowfive:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  
  transition: 0.3s;
  background-color: #fff;
}
.card img{
  width:50%;
}
.card:hover{
  background-color: #0071bc81;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
 padding-bottom: 80px;
    margin-left: 0%;
    
  }
  .rowfive{
    display: block;
    padding-bottom: 150px;
    margin-left: 0;
    padding-left: 0;
    width: 100%;

    
  }

  .card{
    display: block;
    margin-left: 0%;
    margin-right: 20%;
  }
}
.icon-bar {
  position: fixed;
  display: flex;
  top: 20%;
  right: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px;
  justify-content: space-between;
}
header h1{
  font-size: 66px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 10px;
    padding-bottom: 400px;
    box-shadow: #D6D6E7;
    text-shadow: rgb(31, 31, 31) 1px 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Style the icon bar links */
.icon-bar a {
  display: flex;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 14px;
  
  border-radius: 100px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #111;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}
.instagram {
  background: #FCAF45;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
nav{
    display: block;
    padding: 0% 2%;
    float: left;
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  
    
}
nav img{
    width: 100px;
    align-items:left;
    
    
    border-radius: 10px;
}
#fcf-form {
  display:block;
}
#contact img{
  width: 50%;
  display: flex;
  margin-bottom: -410px;
}
.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #ffffff99;
  padding: 30px;
  padding-bottom: 10px;
  
  border-radius: 0.25rem;
  max-width: 40%;
  margin-left: 50%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #0071bc;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #000000;
}

.nav-links{
    flex: 1;
    
    width: fit-content;
    text-align: left;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    animation: fadeIn 5s;
    
    
} 
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    background-attachment: fixed;
    
}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0071bc;
    display: block;
    color: #0071bc;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a:hover{
 color: #0071bc; 
}
nav .fa{
    display: none;
    
}
@media(max-width: 700px){
        
    nav img{
        width: 100px;
    }
    
.nav-links ul li{
    display: block;
    color: #040404;
    border: #00dcd1;
}
.nav-links ul li a{
    display: block;
    color: #040404;
}
.nav-links{
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: right;
    z-index: 1;
    transition: 1s;
    margin: auto;
    
}
.icon-bar{
  top: 12%;
}
    

nav .fa {
    display: block;
    color: #0071bc;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

    

    }
nav .fa-times{
    display: block;
    color: #0071bc;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

}

.nav-links ul{
    padding: 15px;
    color: #040404;
}
.header{
    background-size: 200%;
    width: 200%;
}
}
h2{
  font-size: 32px;
  text-align: center;
}
p{
  font-size: 18px;
  text-align: center;
}
.header{
    background-image: url(./images/aaron-blanco-tejedor-yH18lOSaZVQ-unsplash.jpg),linear-gradient(rgb(0, 0, 0), rgb(80, 80, 80));
    height: 100vh;
    background-size: 100%;
    width: 100%;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
.header h1{
    text-align: left;
    padding-top: 30%;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0);
    font-size: 62px;
}
.row{
    background-image: url(/mages/1.jpg);
    padding-top: 25vh;
    background-size: 80%;
    background-repeat: no-repeat;
    padding-bottom: 25vh;
    width: 50%;
    margin-left: 25%;
    
}
.row h2{
  text-align: center;
}
.row p{
  widows: 60%;
  text-align: center;
}
.rowtwo{
    background-image: url(./images/2.jpg);
    height: 75vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;
}
.rowthree{
    background-image: url(./images/3.jpg);
    height: 80vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;

}
.rowthree img{
    height: 50px;
    padding-top: 280px;
    padding-left: 50px;
}
.rowfour{
  background-image: url(./images/4.jpg);
    height: 90vh;
    background-size: 80%;
    background-repeat: no-repeat;
    width: 80%;
    margin-left: 20%;

}

.rowfour img{
  padding-left: 200px;
  
  
}
.four{
  width: 60%;
}
.rowfive{
    background-image: url(./images/headway-5QgIuuBxKwM-unsplash.jpg);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 50vh;
    

}
.rowsix{
    
background-size: 100%;
    

}
.rowseven{
    background-image: url(./images/7.jpg);
    height: 80vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;

}
footer{
    
    
    left: 0;
    right: 0;
    background: #111;
    
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  
}

.socials li{
  margin: 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.socials a{
  text-decoration: none;
  color: #fff;
 
  padding: 4px;
  

}

.socials a i{
  font-size: 1.1rem;
  width: 30px;
  transition: color .4s ease;
}
.about{
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
.about h1{
  text-align: center;
  padding-bottom: 100px;
  font-size: 32px;
}
.rowone p{
  display: flex;
 font-size: 22px;
  
  padding-bottom: 100px;
  margin-left: 30%;
  width: 40%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.socials a:hover i{
  color: #0071bc;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
  float: right;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  padding-right: 50px;
}
.footer-bottom p a{
 color:#0071bc;
 font-size: 16px;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: block;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #0071bc;
}
@media (max-width:500px) {

  .fcf-body {
    margin-top: 500px;
    max-width: 100%;
    margin-left: 0;
  }
  #contact img{
    width: 100%;
  }
  nav.sticky{
    width: 100%;
  }
  .footer-menu ul{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    
  }
  .row{
    
    padding-top: 25vh;
    background-size: 80%;
    background-repeat: no-repeat;
    padding-bottom: 25vh;
    width: 100%;
    margin-left: 0;
    
}
.rowtwo{
    background-image: url(./images/m\ \(2\).jpg);
    height: 100vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;
}
.rowthree{
    background-image: url(./images/m\ \(3\).jpg);
    height: 70vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;

}
.rowthree img{
    height: 50px;
    padding-top: 340px;
    padding-left: 50px;
}
.rowfour{
    background-image: url(./images/m\ \(4\).jpg);
    height: 70vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;
    display: block;

}
.rowfive{
    background-image: url(./images/m\ \(\).jpg);
    height: 90vh;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 10%;

}
.rowsix{
    background-image: url(./images/m\ \(6\).jpg);
    height: 100vh;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 10%;

}
.rowseven{
    background-image: url(./images/m\ \(7\).jpg);
    height: 80vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;

}
.header{
  background-size: 200%;
  background-position: center;
}
  }

  .fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #00000099;
    border-color: #0071bc;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0071bc;
    border-color: #0071bc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0071bc;
    border-color: #0071bc;
    box-shadow: 0 0 0 0.2rem rgba(255, 149, 0, 0.564);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
.fcf-h3{
    font-size: 24px;
}


  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
 