*{
    margin: 0;
    padding: 0;
    
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;

}

nav.sticky{
    position: fixed;
    top: 0;
    background-color: transparent;
    
}
.font{
  font-weight: 900;
  display: flex;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
nav{
    display: flex;
    padding: 0% 2%;
    float: left;
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;

   
   background-color: white;
    
}
nav img{
    width: 100px;
    align-items:left;
    
    
    border-radius: 10px;
}


.nav-links{
    flex: 1;
    
    width: fit-content;
    text-align: left;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    animation: fadeIn 5s;
    
    
} 
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    background-attachment: fixed;
    
}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fa7e09;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
    
}
@media(max-width: 700px){
        
    nav img{
        width: 100px;
    }
    
.nav-links ul li{
    display: block;
    color: #040404;
    border: #00dcd1;
}
.nav-links ul li a{
    display: block;
    color: #040404;
}
.nav-links{
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: right;
    z-index: 1;
    transition: 1s;
    margin: auto;
    
}
    

nav .fa {
    display: block;
    color: #0071bc;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

    

    }
nav .fa-times{
    display: block;
    color: #0071bc;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

}

.nav-links ul{
    padding: 15px;
    color: #040404;
}
.header{
    background-size: 200%;
    width: 200%;
}
}
.header{
    background-image: url(./images/aaron-blanco-tejedor-yH18lOSaZVQ-unsplash.jpg),linear-gradient(rgb(0, 0, 0), rgb(80, 80, 80));
    height: 100vh;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.header h1{
    text-align: left;
    padding-top: 30%;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0);
    font-size: 62px;
}
.row{
    background-image: url(./images/1.jpg);
    height: 70vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;
    
}
.rowtwo{
    background-image: url(./images/2.jpg);
    height: 75vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;
}
.rowthree{
    background-image: url(./images/3.jpg);
    height: 70vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;

}
.rowthree img{
    height: 50px;
    padding-top: 280px;
    padding-left: 50px;
}
.rowfour{
    background-image: url(./images/4.jpg);
    height: 70vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;

}
.rowfive{
    background-image: url(./images/5.jpg);
    height: 90vh;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 10%;

}
.rowsix{
    background-image: url(./images/6.jpg);
    height: 90vh;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-left: 10%;

}
.rowseven{
    background-image: url(./images/7.jpg);
    height: 80vh;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 20%;

}
footer{
    
    
    left: 0;
    right: 0;
    background: #111;
    
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  
}

.socials li{
  margin: 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.socials a{
  text-decoration: none;
  color: #fff;
 
  padding: 4px;
  

}

.socials a i{
  font-size: 1.1rem;
  width: 30px;
  transition: color .4s ease;
}
.about{
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
.about h1{
  text-align: center;
  padding-bottom: 100px;
  font-size: 32px;
}
.rowone p{
  display: flex;
 font-size: 22px;
  
  padding-bottom: 100px;
  margin-left: 30%;
  width: 40%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.socials a:hover i{
  color: #fa7e09;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#fa7e09;
 font-size: 16px;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: block;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #fa7e09;
}
@media (max-width:500px) {
  .footer-menu ul{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }